/* from _reset.scss Materialize */
/* Resets the box size of every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gives the body element a parent height to compare against */
html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: 'Rubik', sans-serif;
}

/* Matches the font of special elements to the rest of the page */
input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
    font-size: 100%;
    font-family: 'Rubik', sans-serif;
}

/* Removes default bullet points from lists */
ol,
ul {
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

.container {
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: grid;

}

.col .row {
    /* margin-left: -1;
    margin-right: -1; */
    /* grid-template-columns: repeat(3, 1.2fr);
    grid-auto-rows: 45%; */
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}

div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div .no-pad {
    padding: 0;
}

div .no-pad-bot {
    padding-bottom: 0;
}

div .no-pad-top {
    padding-top: 0;
}


/* Cards from _cards.scss Materialize */
img {
    display: block;
    border-radius: 5px 5px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card-title {
    color: white;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    font-family: 'Rubik', sans-serif;
}

.card-title:hover {
    opacity: 1;
    font-family: 'Rubik', sans-serif;
}

/* card sizes */
.card-small {
    width: 200px;
    height: 300px;
}

.card-medium {
    width: 300px;
    height: 400px;
}

.card-large {
    width: 400px;
    height: 500px;
}

/* // Horizontal Cards
.card-small,
.card-medium,
.card-large,
.card-image {
    height: 100%;
    max-height: none;
    overflow: visible;
    display: flex;
}

.card-image {
    max-width: 50%;
    border-radius: 2px 0 0 2px;
}

.card-stacked {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    .card-content {
        flex-grow: 1;
    }
}
} */


/* footer */
.footer {
    text-align: center;
    align-content: center;
}

.portfolioPic {
    max-width: 150px;
    border-radius: 100px 100px 100px 100px;
    margin: 25px;
}

.footerText {
    padding: 50px;
    text-align: left;
}

/* Icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }